.App {
  text-align: center;
  box-sizing: content-box;
}

.App-header {
  background-color: white;
  height: 10vh;
  padding: 20px;
}

.App-intro {
  font-size: large;
}

.conteiner-lists {
  display: flex;
  justify-content: space-between;
}